<h1>Student Details</h1>
<%= notice%>
<div class='border border-primary bg-warning w-45 text-center'>
<%= image_tag @student.profile_image, width: '290px', height: '300px'%>
<p class="text-white"><strong>Full Name:</strong><%= @student.full_name%></p>
<p><strong>First Name:</strong><%= @student.f_name%></p>
<p><strong>Last Name:</strong><%= @student.last_name%></p>
<p><strong>Email:</strong><%= @student.email%></p>
</div>
<div class='d-flex'>
<%= link_to 'Back',students_path, class: 'me-3' %>

<%= link_to 'edit',edit_student_path(@student) %>
</div>
